{% extends "base.html" %}

{% load static %}
{% block content %}
    <h1>Cars:</h1>
        <ul>
            <li><strong>Plate number:</strong> {{ car.plate_number }}</li>
            <li><strong>Car model:</strong> {{ car.car_model }}</li>
            <li><strong>VIN code:</strong> {{ car.vin_code }}</li>
            <li><strong>Client:</strong> {{ car.client }}</li>
    </ul>
    <p>----------------------------------------------------</p>

    <h1>Picture:</h1>
    <div class="row">
        <div class="col-md-4 d-flex align-items-stretch">
          <div class="card mb-4 shadow-sm">
            {% if car.picture %}
              <img src="{{ car.picture.url }}" class="card-img-top" alt="...">
            {% else %}
              <img src="{% static 'img/no-image.png' %}" class="card-img-top">
            {% endif %}
            <div class="card-body">
              <h6 class="card-subtitle mb-2 text-muted">{{ car.model }}</h6>
              <p class="card-text"><a href="{{ car.id }}">{{ car.make }}</a></p>
              <p>{{ car.description|safe }}</p>
            </div>
          </div>
        </div>
    </div>
{% endblock %}