{% extends "base.html" %}


{% block content %}
<br>
    <form action="{% url 'search' %}" method="get" class="form-inline my-2 my-md-0">
    <input name="query" class="form-control" type="text" placeholder="Search">
    </form>
<br>
    {% for car in cars %}
        <li><strong>Car: </strong><a href="{% url 'car' car.id %}">{{ car.plate_number }} {{ car.client }} {{ car.car_model.make }}</a></li>
        <p>----------------------------------------------------</p>
    {% endfor %}
<div class="container pages">
    <nav aria-label="...">
        {% if cars.has_other_pages %}
            <ul class="pagination pagination-sm justify-content-end">
                {% for i in cars.paginator.page_range %}
                    {% if cars.number == i %}
                        <li class="page-item active">
                            <a class="page-link">{{ i }}</a>
                        </li>
                    {% else %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        {% endif %}
    </nav>
</div>
{% endblock %}
