{% extends "base.html" %}

{% block title %}Order Details{% endblock %}

{% block content %}
<h2>Order no {{ order.id }}:</h2>
<hr/>
<p><strong>Status: </strong>{{ order.get_status_display }}</p>
<p><strong>Date: </strong>{{ order.date }}</p>
<p><strong>Return date: </strong>{{ order.deadline }}</p>
<p class="text-{% if order.is_overdue %}danger{% else %}success{% endif %}"><strong>Is overdue: </strong>
    {% if order.is_overdue %}Yes{% else %}No{% endif %}
</p>
<p><strong>Client: </strong>{{ order.car.client_name }}</p>
<p><strong>Car: </strong><a href="{% url 'car-details' order.car.id %}">{{ order.car.car_model }}
    ({{ order.car.license_plate_no }}, {{ order.car.vin_code }})</a></p>
{% if order.lines.all %}
    <div class="container" style="display: inline-block; padding-top: 20px; padding-left: 20px; width: 80%">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Service</th>
                <th>Item price</th>
                <th>Quantity</th>
                <th>Price</th>
            </tr>
            </thead>
            <tbody>
            {% for line in order.lines.all %}
                <tr>
                    <td>{{ line.service.name }}</td>
                    <td>{{ line.service.price }} €</td>
                    <td>{{ line.quantity }}</td>
                    <td>{{ line.price }} €</td>
                </tr>
            {% endfor %}
            <tr>
                <td colspan="3"></td>
                <td><strong>{{ order.total_price }} €</strong></td>
            </tr>
            </tbody>
        </table>
    </div>
{% endif %}
<br>
<br>
{% if user.is_authenticated %}
    <div class="fieldWrapper">
        <hr>
        <br>
        <h4>Leave a comment:</h4>
        <form action="" method="post">
            {% csrf_token %}
            {{ form.text }}
            <br>
            <br>
            <input type="submit" class="btn btn-primary" value="Post"/>
        </form>
    </div>
{% endif %}
<br>
<br>
<h3>Comments:</h3>
<div class="container" style="display: inline-block; padding-top: 20px; padding-left: 20px; width: 80%">
    {% if order.comments.all %}
        {% for comment in order.comments.all %}
            <strong>{{ comment.author }}</strong>, <em>{{ comment.date }}</em>
            <p>{{ comment.text }}</p>
            <hr>
        {% endfor %}
    {% else %}
        <p>There are no comments for this order.</p>
    {% endif %}
</div>
{% endblock %}